* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgimg {
  padding: 0;
  margin: 0;
  background-image: url("./images/hero-bg.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 95vh;
  color:black;
}
a {
  text-decoration: none;
  color: #333;

}
/************************************ Navbar */

.contact{
   
  width:100%;
  height:2rem;
  
}
.contactDetails{
  margin:0;
  padding:0;
  width:auto;
  height:60px;
  margin-left: 15px;
}
.contactPara{
  
  padding:0;
  
}
.contactPara2{
  color:rgb(255, 255, 255);
  margin-top:-20px;
  padding:0;
  
}
.fa-laptop-code{
  margin-left:15px;
  z-index:100;
}
.navbar-brand{
  z-index: 100;
}
body{
  background-color: rgb(255, 255, 255);
}

.navbar {
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:transparent;
  position:fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}
.navbar-expand-lg{
  z-index:9;
}
.nav-link{
  font-size: large;
}
.nav-link:focus{
  font-size: large;
  border:1px solid rgb(255, 255, 255);
}

.headingPara{
  font-family: 'Kaisei HarunoUmi', serif;
  word-spacing: 5px;
  font-weight:300;
  margin-top: 2rem;
  font-size: 20px;
  text-align: justify;
  color:black;
}
.navbar-toggler{
  background-color: white;
  margin-right:30px;
}
.customFont {
  font-family: "Dancing Script", cursive;
  margin: 150px;
  margin-bottom: -43px;
  padding: 50px;
  color:black;
  font-size: 40px;
  
}

.headerset {
  padding-top: auto;
  box-sizing: border-box;
  color: rgb(255 253 251);
}
.headerset h2 {
  font-size: 43px;
}
.headerset h1 {
  
  padding:40px;
  
  margin-top: 230px;
  font-size: 73px;
}
/* ***************************************** nav Contact */

.NavContact{
  
  z-index:99;
}
/* ******************************************Contact us */

.textArea{
  
  width:60%;
  resize: none;
  
}



/****************************************** our Courses CSS  */
.ourServices {
  padding: 0px 50px;
  font-size: large;
  font-weight: 500;
}
.rowSetting {
  margin: 0px;
}
.imgSetting {
  /* border-radius: 50%; */
  height: 100px;
  width: 100px;
}
a:hover {
  color: aqua;
}

.imgSetting:hover {
  color: aqua;
}

.rowSetting p {
  color: rgb(81, 91, 98);
  padding: 10px;
}
.rowSetting h2 {
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 30px;
  padding: 10px;
}
/* Future posts */

/* ***********************************************About Text */
.AboutText {
  text-align: justify;
}
.AboutusHeading {
  display: inline;
  width: 200px;
  height: 200px;
}

/***************************************************** About our placements */
.cardImage {
  margin: 30px 30px;
  width: 100%;
  height: 350px;
  
}

.cardSet {
  z-index: -1;
}
.card {
  width: 20rem;
}
.placements {
  margin-top: 20px;
}
.placementsRow {
  margin-top: 0px;
  padding: 0;
  
}
/******************************************* About Clients */
.clientImages{

  border:1px solid whitesmoke;
  box-shadow: 5px 10px 8px #f8f8f8

}

.clientDiv{
  z-index: -1;
  
  box-shadow: 20px 3px 15px #ebdbdb
}

.clientImages:hover{
  
  border:1px solid whitesmoke;
}


/************************************* contact us form */
.contactUs {
  margin-top: 50px;

}
.formDiv{
  /* z-index: -1; */
}
/* Career page */
.careermessage {
  margin-top: 50px;
}

/* Footer */
.footer {
  margin-top: 30px;
  height: 50px;
  line-height: 50px;
}

/* ***********************Courses Details */
.javaDetails{
}
.courseDetails ul{
  margin:10px;
  
  margin-left: 60px;
  
}











/******************************************* upcoming courses Marquee Tag */

.AdvCard {
  display: inline-block;
  margin: 20px;
}
.marquee {
  height: 100%;
  width: 100%;
  margin: 20px;
}







/**************************************** for Responsive ness */
@media (min-width: 992px) {
  .headerset h2 {
    
  }
  .headerset h1 {
    margin-top: 50px;
    font-size: 50px;
  }
  .headingPara{
    font-size: 20px;
  }
  .customFont{

    font-size: 350px;
    margin:0;
    padding:0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .headerset h1 {
    margin-top: 55px;
    font-size: 35px;
  }
  .headingPara{
    font-size: 15px;
  }
  .customFont{

    font-size: 30px;
    margin:0;
    padding:0;
  }
}


@media (min-width: 575px) and (max-width: 767px) {
  .headerset h1 {
    margin-top: 50px;
    font-size: 30px;
  }
  .headingPara{
    font-size: 15px;
  }
  .customFont{

    font-size: 20px;
    margin:0;
    padding:0;
  }
}

@media (min-width: 480px) and (max-width: 574px) {
  .headerset h1 {
    margin-top: 40px;
    font-size: 20px;
  }
  .headingPara{
    font-size: 10px;
  }
  .customFont{

    font-size: 15px;
    margin:0;
    padding:0;
  }
}
@media (max-width: 479px) {
  .headerset h1 {
    margin-top: 50px;
    font-size: 20px;
  }
  .headingPara{
    font-size: 8px;
  }
  .customFont{

    font-size: 9px;
    margin:0;
    padding:0;
  }
}
